<aside class="sidebar">
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title">About</h4>
      <p class="card-text">Welcome to our blog, where we explore a world of ideas and insights! Dive into a collection of thought-provoking articles spanning technology, culture, and more.</p>
    </div>
  </div>
</aside>

<aside class="sidebar sidebar-sticky">
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title">Categories</h4>
      <% ['Journey', 'Work', 'Lifestype', 'Photography', 'Food & Drinks'].forEach(category => { %>
        <a class="btn btn-light btn-sm mb-1" href="/categories/<%= category %>"><%= category %></a>
      <% }) %>
    </div>
  </div>
  <% if (popularPosts.length) { %>
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Popular stories</h4>
        <% popularPosts.forEach(post => { %>
          <a href="/<%= post.slug %>" class="d-inline-block mt-3">
            <h4 class="h6"><%= post.title %></h4>
            <img class="card-img" src="<%= post.cover_image %>" alt="" />
          </a>
          <time class="timeago" datetime="<%= post.created_at %>"><%= post.created_at %></time> in <%= post.category %>
        <% }) %>
      </div>
    </div>
  <% } %>
</aside>
