<%- include('./partials/header') %>

<!-- MAIN BODY -->
<main class="main pt-4">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <div class="text-center">
          <span class="text-muted">Category:</span>
          <h2><%= category %></h2>
          <hr />
        </div>

        <div class="row">
          <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
              <div class="col-md-6">
                <article class="card mb-4">
                  <header class="card-header">
                    <div class="card-meta">
                      <a href="/blogs/<%= post.id %>"><time class="timeago" datetime="<%= post.created_at %>"><%= post.created_at %></time></a> in <a href="/categories/<%= post.category %>"><%= post.category %></a>
                    </div>
                    <a href="/<%= post.slug %>">
                      <h4 class="card-title"><%= post.title %></h4>
                    </a>
                  </header>
                  <a href="/<%= post.slug %>">
                    <img class="card-img cover-img" src="<%= post.cover_image %>" alt="" />
                  </a>
                  <div class="card-body">
                    <p class="card-text"><%= post.snippet %></p>
                  </div>
                </article>
              </div>
            <% }) %>
          <% } else { %>
            <div class="col-12 text-center mt-5">
              <h5>No posts availaible</h5>
            </div>
          <% } %>
        </div>

        <% if (posts.length > 0) { %>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="<%= meta.prev_page_url || 'javascript:void(0)' %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% const metaPathUrl = new URL(meta.path) %>
              <% for( let index = 1; index <= meta.last_page; index++ ) { %>
                <li class="page-item <%= (meta.current_page == index) ? 'active' : '' %>">
                  <% metaPathUrl.searchParams.set('page', index) %>
                  <a class="page-link" href="<%= (meta.current_page != index) ? metaPathUrl.toString() : 'javascript:void(0)' %>"><%= index %></a>
                </li>
              <% } %>
              <li class="page-item">
                <a class="page-link" href="<%= meta.next_page_url || 'javascript:void(0)' %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        <% } %>
      </div>

      <div class="col-md-3 ms-auto">
        <%- include('./partials/aside') %>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/subscribe') %>

<%- include('./partials/newsletter') %>

<%- include('./partials/footer') %>
