<%- include('./partials/header') %>

<!-- MAIN BODY -->
<main class="main pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">

        <article class="card mb-4">
          <header class="card-header text-center">
            <h1 class="card-title">Get in Touch</h1>
          </header>
          <div class="card-body">

            <p><strong>We would love to hear from you! Feel free to reach out to us with any questions or inquiries. Your feedback is valuable to us.</strong></p>

            <p>If you have any queries about our services, partnership opportunities, or just want to say hello, don't hesitate to get in touch. We are here to help and provide you with the information you need.</p>

            <p>Our dedicated team is committed to providing prompt and helpful responses. You can expect professionalism and a personalized approach when communicating with us.</p>

            <p>Whether you prefer email, phone, or even a face-to-face meeting, we are flexible and ready to accommodate your communication preferences.</p>

            <p>Thank you for considering reaching out to us. We look forward to

            <% if (typeof success !== 'undefined' && success !== null && success.length > 0) { %>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>

            <% if (validation_errors.length > 0) { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Ooops! Validation Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>

            <% const contactErrors = (validation_errors.length > 0) ? validation_errors[0] : {}; %>
            <% const oldContactFormData = (old_validation_data.length > 0) ? old_validation_data[0] : {}; %>
            <form method="POST" action="/contact">
              <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control <%= (contactErrors.hasOwnProperty('name')) ? 'is-invalid' : '' %>" id="name" placeholder="Name" name="name" value="<%= (oldContactFormData.hasOwnProperty('name')) ? oldContactFormData.name : '' %>">
                <% if (contactErrors.hasOwnProperty('name')) { %>
                  <span class="invalid-feedback"><%= contactErrors.name[0].msg %></span>
                <% } %>
              </div>
              <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" class="form-control <%= (contactErrors.hasOwnProperty('email')) ? 'is-invalid' : '' %>" id="email" placeholder="Email address" name="email" value="<%= (oldContactFormData.hasOwnProperty('email')) ? oldContactFormData.email : '' %>">
                <% if (contactErrors.hasOwnProperty('email')) { %>
                  <span class="invalid-feedback"><%= contactErrors.email[0].msg %></span>
                <% } %>
              </div>
              <div class="mb-3">
                <label class="form-label" for="question">Message</label>
                <textarea class="form-control <%= (contactErrors.hasOwnProperty('message')) ? 'is-invalid' : '' %>" id="message" rows="4" placeholder="Message" name="message"><%= (oldContactFormData.hasOwnProperty('message')) ? oldContactFormData.message : '' %></textarea>
                <% if (contactErrors.hasOwnProperty('message')) { %>
                  <span class="invalid-feedback"><%= contactErrors.message[0].msg %></span>
                <% } %>
              </div>

              <button type="submit" class="btn btn-success">Send</button>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/subscribe') %>

<%- include('./partials/newsletter') %>

<%- include('./partials/footer') %>
