<%- include('./partials/header') %>

<style>
  .card-img {
  width: 100%; /* Set the width to 100% of the parent container */
  max-height: 200px; /* Adjust the desired height */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}
</style>

<!-- MAIN BODY -->
<main class="main pt-4">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <div class="row">
          <% posts.forEach(post => { %>
            <div class="col-md-6">
              <article class="card mb-4">
                <header class="card-header">
                  <div class="card-meta">
                    <a href="/blogs/<%= post.id %>"><time class="timeago" datetime="2021-09-26 20:00">26 october 2021</time></a> in <a href="javascript:void(0)">Journey</a>
                  </div>
                  <a href="/<%= post.slug %>">
                    <h4 class="card-title"><%= post.title %></h4>
                  </a>
                </header>
                <a href="/<%= post.slug %>">
                  <img class="card-img" src="<%= post.cover_image %>" alt="" />
                </a>
                <div class="card-body">
                  <p class="card-text"><%= post.snippet %></p>
                </div>
              </article>
            </div>
          <% }) %>
        </div>
      </div>

      <div class="col-md-3 ms-auto">
        <%- include('./partials/aside') %>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/subscribe') %>

<%- include('./partials/newsletter') %>

<%- include('./partials/footer') %>
